@mixin zero-config( $margin-param, $padding-param ){
    margin: $margin-param;
    padding: $padding-param;
}

@mixin div-size( $w, $h ){
    width: $w;
    height: $h;
}

@mixin div-style( $bgcolor: #d43aff ){
    background-color: $bgcolor;
}

@mixin flex-config ( $direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin relative-center (){
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

body {
    @include zero-config(10px 5px, 10px);
    border: 1px solid black;
}

.container {
    @include div-size(80%, 100vh );
    @include div-style(#e7e7e7);
    // @include flex-config(row, center , center );
    background-color: #e7e;

    .box{
        @include div-style( );
        @include div-size(300px, 200px );
        @include relative-center();
        background-color: purple;
    }
}
